node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
.nx/cache
.nx/workspace-data

.git
.gitignore
README.md
.env*
.nyc_output
coverage
*.tgz

Dockerfile*
docker-compose*
.dockerignore

.DS_Store
.vscode
.idea

test
tests
*.test.js
*.test.ts
*.spec.js
*.spec.ts

docs
*.md