# compiled output
/dist
/node_modules
/build

# Package managers
.yarn-offline-cache/
.pnpm-store/
.pnpm-debug.log*
.pnpm-audit.log*
package-lock.json
yarn.lock

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
globalConfig.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

#Redis
dump.rdb

#Configs
config/*
!config/default.ts
!config/development.ts
!config/staging.ts
!config/staging-bg.ts
!config/preproduction.ts
!config/production.ts
!config/test.ts
!config/green-production.ts
!config/purple-production.ts
!config/yellow-production.ts
!config/magenta-production.ts

#AI
CLAUDE.md
**/.claude/settings.local.json
.env*
!.env-cmdrc.test
